<tr>
  <% if cart_item == @current_item %>
    <tr id="current_item">
  <% else %>
    <tr>
  <% end %>
    <td><%=h cart_item.title %></td>
	<td class="item-rating"><%= cart_item.rating %>/10</td>
	<div class="buttons">
 	  <td>
	  	<%= link_to_remote "Up", :url => { :action => :add_to_cart , :id => cart_item.movie} %>
      </td>
	  <td>
	    <%= link_to_remote "Down", :url => { :action => :down_from_cart , :id => cart_item.movie} %>
      </td>
      <td>
	    <%= link_to_remote "Remove", :url => { :action => :remove_from_cart , :id => cart_item.movie} %>
      </td>
    </div>
</tr>