<div class="cart-title">Your Favorited Movies</div>
<table>
  
  <% for item in @cart.items %>
    <div class="entry">
      <h3><%=h item.title %> (<%= item.year %>)</h3>
      <div class="description">
	    <%= image_tag(item.image_url) %><br/>
	    Your Rating: <%= item.rating %>/10<br/><br/>
      </div>
      <div class="starring-line">
        <!--Starring:
        <span class="starring"><%= item.starring %></span><br/>
        <%= item.runtime %> mins<br/>-->
      </div>
      <div class="buttons">
        <%= link_to_remote "Up", :url => { :action => :add_to_cart, :id => item.movie} %>
        <%= link_to_remote "Down", :url => { :action => :down_from_cart , :id => item.movie} %>
	    <%= link_to_remote "Remove", :url => { :action => :remove_from_cart , :id => item.movie} %>
	  </div>
    </div>
  <% end %>

  <tr class="total-line">
    <td colspan="2">Total Favorites </td>
    <td class="total-cell"><%= @cart.total_movies %></td>
  </tr>

</table>
  
  <%= button_to "Empty list" , :action => :empty_cart %>
  <%= button_to "Back to Movies" , :action => :back_to_index %>
  <%= button_to "Save" , :action => 'order_list' %>
  
