<h1>Murtaza's Favorite Movies</h1>
<% for movie in @movies -%>
  <div class="entry">
    <h3><%=h movie.title %> (<%= movie.year %>)</h3>
    <div class="description">
      <%= image_tag(movie.image_url) %><br/>
    </div>
    <div class="starring-line">
      Starring:
      <span class="starring"><%= movie.starring %></span>
      <% form_remote_tag :url => { :action => 'add_to_cart', :id => movie } do %>
      <br/><%= movie.runtime %> mins<br/>
    </div>
      <%= submit_tag "Favorite" %>
    <% end %>
  </div>
<% end %>