<h1>Editing movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :starring %><br />
    <%= f.text_area :starring %>
  </p>
    <p>
    <%= f.label :runtime %><br />
    <%= f.text_field :runtime %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>